.filmFlexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  max-width: 100%;
  // background-color: blue;

  margin: 0 auto;
}

.filmContainer {
  // Back ground
  //  background-image: url(../public/cardbackground.png);
  background-color: rgb(43, 130, 243);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  color: rgba(0, 0, 0, 0.8);
  margin: 1rem;
  padding: 1rem;
  height: 32rem;
  min-width: 22rem;

  h1 {
    margin-top: 1.5rem;
  }

  a {
    color: rgba(0, 0, 0, 0.8);
  }

  a:hover {
    font-style: italic;
  }

  .filmContent {
    margin: 1rem auto 0.1rem;
    font-size: 1rem;
  }
}

// Profile
.cardImageContainer {
  max-width: 12rem;
  margin: 0 auto;
}

// Details Pages
.boxContainer {
  min-height: 25rem;
  //   padding: 2rem; -> No padding so that you can show border box.
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  margin: 2.5rem 0;
  box-shadow: 1px 0px 10px 5px;
}

// Top Boxes
.boxOne {
  //   border-bottom-left-radius: 8px;
  //   border-top-left-radius: 8px;

  color: black;
  font-size: 1rem;
  padding: 2rem 1rem;

  flex-basis: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-repeat: no-repeat;
  background-size: cover;
}

.boxTwo {
  overflow: hidden;

  background-color: #ec8600;
  padding: 2rem 2rem;

  flex-basis: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.3rem;
  line-height: 2.5rem;
}

.posterBox {
  //   border-bottom-right-radius: 8px;
  //   border-top-right-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #ec8600;
  padding: 1rem 2rem;
  flex-basis: 20%;
}
