@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  background: #f2f2f2;
  font-family: "Nunito";
  background-color: #330055;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg %3E%3Ccircle fill='%23330055' cx='50' cy='0' r='50'/%3E%3Cg fill='%233a015d' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23410165' cx='50' cy='100' r='50'/%3E%3Cg fill='%2348026e' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%23500376' cx='50' cy='200' r='50'/%3E%3Cg fill='%2357047e' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%235f0587' cx='50' cy='300' r='50'/%3E%3Cg fill='%2367068f' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%236f0798' cx='50' cy='400' r='50'/%3E%3Cg fill='%237707a0' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238008a9' cx='50' cy='500' r='50'/%3E%3Cg fill='%238909b1' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%239109ba' cx='50' cy='600' r='50'/%3E%3Cg fill='%239a09c3' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a309cb' cx='50' cy='700' r='50'/%3E%3Cg fill='%23ad09d4' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b608dc' cx='50' cy='800' r='50'/%3E%3Cg fill='%23c007e5' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23c905ee' cx='50' cy='900' r='50'/%3E%3Cg fill='%23d303f6' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23D0F' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

a {
  text-decoration: none;
}

.content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
}

nav {
  font-size: 2rem;
  margin: 10px 60px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border-bottom: 2px solid #ddd;
}

nav a {
  margin-left: 2rem;
  color: #fff;
  font-weight: 800;
}

nav a:hover {
  font-weight: bold;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  color: #ffa835;
}

nav .logo {
  margin-right: auto;
}

.gitLink {
  font-weight: 600;
  color: #d3d300;
}

.btn {
  display: block;
  color: white;
  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;
  width: 250px;
  padding: 8px 0;
  margin: 1.5rem auto;
  border: none;
  border-radius: 8px;
  background: #ec8600;
}

.btn:hover {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  cursor: pointer;
}

.footer {
  margin-top: 4rem;
  padding: 1rem;
}

.textContent {
  text-align: center;
  font-size: 1.3rem;
}

.textContent p {
  color: #fff;
}

.textContent p {
  color: #fff;
}

.textTitle {
  font-size: 1.6rem;
  font-weight: 900;
}

.title {
  padding-bottom: 20px;
  text-align: center;
  margin-top: 2rem;
  color: #fff;
}

.textTitle {
  font-size: 1.6rem;
  font-weight: 900;
}

.searchInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem 1rem;
  margin: 2rem auto 0.6rem;
  font-size: 2rem;
  color: #fff;
}

.searchInputField {
  font-size: 2rem;
  text-indent: 14px;
  line-height: 3rem;
  border-radius: 12px;
  border: none;
  margin-left: 1.1rem;
}

.searchInputField:focus {
  outline: none;
}

.border {
  margin: 3rem 8rem;
}

.imageContainer {
  max-width: 12rem;
  margin: 0 auto;
}

.imageContainerProfile {
  width: 100%;
  border-radius: 10%;
}

.payTitle {
  padding-bottom: 20px;
  text-align: center;
  color: #fff;
}

.formContainer {
  background-color: #05a35fcc;
  padding: 1rem 2rem;
  border-radius: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.formBox {
  font-size: 2rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
}

.formInput {
  margin-top: 1rem;
  font-size: 1.8rem;
  border-radius: 2rem;
  border: none;
  text-indent: 1rem;
  line-height: 2.8rem;
}

.formInput:focus {
  outline: none;
}

.payslipContainer {
  background-color: #d68317;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 2rem;
}

.payslipBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.8rem;
}

.payslipBox p {
  padding: 1rem;
}

.payslipBox p span {
  color: #fff;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */